/**
 * Author：zhoushuanglong
 * Time：2018-04-08 15:50
 * Description：header
 */

header {
    background: #fff;
    width: 100%;
    height: 58px;

    .header-box {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        .logo {
            width: 114px;
            height: 26px;

            img {
                width: 100%;
            }
        }
    }
}
