<%- include('./public/header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/index.css']
}) %>

<div class="main clearfix">
    <%- include('index/content', {
    leftColumn: sidebar_hot_users,
    master: sidebar_hot_users, // 大咖入驻
    hotTag: sidebar_hot_topics,
    postsList: posts_list,
    loginState: wefollow,
    imgUrl: 'http://bbs.huoxing24.com/uploads/avatar/',
    total: total_rows,
    masterData: [
    {portrait: './img/chushuai.jpg', name: '帅初', url: 'http://bbs.huoxing24.com/?/people/帅初', introduce: 'Qtum量子链发起人'},
    {portrait: './img/maozhihon.jpg', name: '冒志鸿', url: 'http://bbs.huoxing24.com/?/people/冒志鸿', introduce: 'ArcBlock创始人兼CEO'},
    {portrait: './img/chenrong.jpg', name: '陈榕', url: 'http://bbs.huoxing24.com/?/people/陈榕', introduce: '亦来云基金会联合创始人'},
    {portrait: './img/dahonfei.jpg', name: '达鸿飞', url: 'http://bbs.huoxing24.com/?/people/达鸿飞', introduce: '小蚁区块链创始人'},
    {portrait: './img/caofeng.jpg', name: '曹锋', url: 'http://bbs.huoxing24.com/?/people/曹锋', introduce: '博士，PCHAIN发起人'},
    ]
    }) %>
</div>

<%- include('./public/footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js'],
private: ['./js/index.js']
}) %>
