<%- include('./public/header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/index.css']
}) %>

<div class="main clearfix">
    <%- include('index/content', {
    leftColumn: sidebar_hot_users,
    master: sidebar_hot_users,
    hotTag: sidebar_hot_topics,
    postsList: posts_list,
    loginState: wefollow,
    imgUrl: 'http://bbs.huoxing24.com/uploads/avatar/',
    total: total_rows
    }) %>
</div>

<%- include('./public/footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js'],
private: ['./js/index.js']
}) %>
