<%- include('./public/header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/searchResult.css']
}) %>

<div class="container">
    <div class="search clearfix">
        <div class="search-l">
            <p class="search-count">找到 162 个结果</p>

            <div class="search-list">
                <ul class="search-list-header clearfix">
                    <li class="active">最新</li>
                </ul>

                <div class="search-list-body">
                    <div class="search-item">
                        <p class="title">区块链技术是什么？未来可能用于哪些方面？</p>
                        <p class="context">
                            区块链技术能够避开繁杂的系统，在付款人和收款人之间创造更直接的付款流程，不管是境内转账还是跨境转账，这种方式都有着低价、迅速的特点，而且无需中间手续费
                            <a href="">查看详情> </a>
                        </p>
                    </div>
                    <div class="search-item">
                        <p class="title">区块链技术是什么？未来可能用于哪些方面？</p>
                        <p class="context">
                            区块链技术能够避开繁杂的系统，在付款人和收款人之间创造更直接的付款流程，不管是境内转账还是跨境转账，这种方式都有着低价、迅速的特点，而且无需中间手续费
                            <a href="">查看详情> </a>
                        </p>
                    </div>
                    <div class="search-item">
                        <p class="title">区块链技术是什么？未来可能用于哪些方面？</p>
                        <p class="context">
                            区块链技术能够避开繁杂的系统，在付款人和收款人之间创造更直接的付款流程，不管是境内转账还是跨境转账，这种方式都有着低价、迅速的特点，而且无需中间手续费
                            <a href="">查看详情> </a>
                        </p>
                    </div>
                </div>

                <div class="search-list-footer">
                    <ul id="pagination" class="pagination-sm"></ul>
                </div>
            </div>
        </div>

        <div class="search-r">
            <a href="javascript:;" class="search-google active">在 Google 中搜索 <i></i></a>
            <a href="javascript:;" class="search-baidu">在 百度 中搜索 <i></i></a>
        </div>
    </div>
</div>

<%- include('./public/footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js','http://static.huoxing24.com/assets/simplePagination.js'],
private: ['./js/searchResult.js']
}) %>