<%- include('./public/header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/invitation.css']
}) %>

<div class="inv-header">
    <div class="container clearfix">
        <div class="inv-header-con">
            <ul class="tagList clearfix">
                <li>
                    <a href="javascript:;">tagItem</a>
                </li>
            </ul>


            <div class="article-context">
                <h2>
                    article_info.title
                </h2>
                <div class="text">
                    <p>article_info.message</p>
                </div>
                <p class="unfold">展开阅读全文 <i class="iconfont icon-open"></i></p>
            </div>
            <div class="control clearfix" data-id='article_info.id'>
                <button type="button" class="reply">回复</button>
                <button type="button" class="collect">收藏</button>
                <button type="button" class="share">
                    <i class="iconfont icon-fenxiang"></i>分享
                </button>
            </div>
        </div>
        <div class="inv-header-stat">
            <div class="stat-item">
                <p class="stat-item-title">关注者</p>
                <p>1</p>
            </div>
            <div class="part-line"></div>
            <div class="stat-item">
                <p class="stat-item-title">浏览量</p>
                <p>1</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="inv-content clearfix">
        <div class="inv-content-l">
            <div class="inv-content-reply">
                <div class="replier clearfix">
                    <div class="replier-img">
                        <img src='' alt="">
                    </div>
                    <div class="replier-info">
                        <h3>article_info.user_info.user_name</h3>
                        <p>原新东方名师，自称‘中国比特币首富’,著名天使投资人...</p>
                    </div>
                </div>
                <div class="reply-area">

                </div>
            </div>

            <div class="inv-reply-list">
                <h3>article_info.comments 个回答</h3>
                <div class="inv-reply-list-wrap">
                    <div class="list-item">
                        <div class="replier clearfix">
                            <div class="replier-img">
                                <img src='' alt="">
                            </div>
                            <div class="replier-info">
                                <p class="h3">item.user_info.user_name</p>
                                <p>原新东方名师，自称‘中国比特币首富’,著名天使投资人...</p>
                            </div>
                        </div>
                        <div class="reply-context">
                            <div class="reply-context-show">
                                <p>
                                    item.message
                                </p>
                            </div>
                            <div class="context-unfold">
                                <p>展开阅读全文 <i class="iconfont icon-open"></i></p>
                            </div>
                        </div>
                        <div class="reply-action" data-uid='item.uid'>
                            <p>
                                <i class="iconfont icon-yk_shijian_fill"></i>
                                发布时间：<!--(function () {
                                    let minus = new Date().getTime() / 1000 - item.add_time;
                                    let day = Math.floor(minus / (3600 * 24));
                                    let hour = Math.floor((minus - day * 3600 * 24) / 3600);
                                    let minute = Math.floor((minus - day * 3600 * 24 - hour * 3600) / 60);

                                    return `${day}天${hour}小时${minute}分`;
                                })()--> 3分钟前
                            </p>
                            <button type="button" class="btn btn-action">
                                <i class="iconfont icon-dianzan"></i>
                                item.votes
                            </button>
                            <button type="button" class="btn btn-action">
                                <i class="iconfont icon-mn_xiaoxi_fill"></i>
                                6 条评论
                            </button>
                            <button type="button" class="btn btn-action pack-up display"><!--和查看全部内容互斥-->
                                收起
                                <i class="iconfont icon-shouqixiao"></i>
                            </button>
                        </div>
                        <div class="reply-gather">
                            <div class="reply-panel">
                                <div class="panel-header">2,400 条评论</div>
                                <div class="panel-body">
                                    <div class="reply-input fix">
                                        <input type="text" name="comment" placeholder="写下你的评论...">
                                        <button type="button" data-replierID="U000001" class="comment">评论</button>
                                    </div>

                                    <div class="panel-item">
                                        <div class="panel-item-header clearfix">
                                            <div class="replier-img">
                                                <img src="" alt="">
                                            </div>
                                            <div class="replier-info">
                                                <p class="h3">凉凉</p>
                                            </div>
                                        </div>
                                        <div class="panel-item-context">
                                            <p>
                                                原新东方名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’,著名天使投资人...</p>
                                        </div>
                                        <div class="panel-item-action display">
                                            <button type="button" class="btn btn-action">
                                                <i class="iconfont  icon-dianzan"></i>
                                                3,650
                                            </button>
                                            <button type="button" class="btn btn-action">
                                                <i class="iconfont icon-reply"></i>
                                                回复
                                            </button>
                                            <button type="button" class="btn btn-action">
                                                <i class="iconfont icon-ai39"></i>
                                                查看对话
                                            </button>
                                        </div>
                                        <div class="reply-input clearfix unset">
                                            <input type="text" name="comment" class="full" placeholder="回复凉凉">
                                            <button type="button" data-replierID="U000001" class="comment">评论</button>
                                            <button type="button" class="cancel">取消</button>
                                        </div>
                                    </div>

                                    <div class="panel-item">
                                        <div class="panel-item-header clearfix">
                                            <div class="replier-img">
                                                <img src="" alt="">
                                            </div>
                                            <div class="replier-info">
                                                <p class="h3">李笑来 <span>回复</span> 凉凉</p>
                                            </div>
                                        </div>
                                        <div class="panel-item-context">
                                            <p>
                                                原新东方名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’,著名天使投资人...</p>
                                        </div>
                                        <div class="panel-item-action">
                                            <button type="button" class="btn btn-action">
                                                <i class="iconfont icon-dianzan"></i>
                                                3,650
                                            </button>
                                            <button type="button" class="btn btn-action">
                                                <i class="iconfont icon-reply"></i>
                                                回复
                                            </button>
                                            <button type="button" class="btn btn-action">
                                                <i class="iconfont icon-ai39"></i>
                                                查看对话
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <ul id="pagination" class="pagination-sm"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inv-examine">
                查看所有的 112 个回答
            </div>
        </div>

        <div class="inv-content-r">
            <div class="author">
                <div class="author-info clearfix">
                    <div class="replier-img">
                        <img src="" alt="">
                    </div>
                    <div class="replier-info">
                        <p class="h3">凉凉</p>
                        <p>原新东方名师，自称‘中国比特币首富’,著名天使投资人</p>
                    </div>
                </div>

                <div class="live clearfix">
                    <div class="live-reply">
                        <p>回复</p>
                        <p>123</p>
                    </div>
                    <div class="live-theme">
                        <p>主题</p>
                        <p>12</p>
                    </div>
                </div>
            </div>

            <%- include('./public/topic', {
            title: '相关',
            data: [
            {id:1,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:20},
            {id:2,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:15},
            {id:3,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:56},
            {id:4,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:50},
            {id:5,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:100}
            ]
            }) %>


        </div>
    </div>
</div>

<%- include('./public/footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js','http://static.huoxing24.com/assets/simplePagination.js'],
private: ['./js/invitation.js']
}) %>
