<%- include('./public/header', {
plugin: ['http://static.huoxing24.com/assets/swiper.min.css'],
private: ['./css/tagList.css']
}) %>

<div class="container">
    <div class="tag clearfix">
        <div class="tag-main-l">
            <div class="tag-header clearfix">
                <h3>热门TAG</h3>
                <div class="tab-list">
                    <a href="#/all" class="active">全部</a>
                    <a href="#/seven">7日</a>
                    <a href="#/thirty">30日</a>
                </div>
            </div>

            <div class="tag-body clearfix">
                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src="" alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="">比特币</a></p>
                        <p>非普遍全球可支付的电子加密货币</p>
                        <p>
                            <span>113人关注</span>
                            <span>132个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <a href="javascript:;" class="attention">关注</a>
                    </div>
                </div>
                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src="" alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="">比特币</a></p>
                        <p>非普遍全球可支付的电子加密货币</p>
                        <p>
                            <span>113人关注</span>
                            <span>132个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <a href="javascript:;" class="attention">关注</a>
                    </div>
                </div>
                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src="" alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="">比特币</a></p>
                        <p>非普遍全球可支付的电子加密货币</p>
                        <p>
                            <span>113人关注</span>
                            <span>132个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <a href="javascript:;" class="attention">关注</a>
                    </div>
                </div>
                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src="" alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="">比特币</a></p>
                        <p>非普遍全球可支付的电子加密货币</p>
                        <p>
                            <span>113人关注</span>
                            <span>132个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <a href="javascript:;" class="attention">关注</a>
                    </div>
                </div>
                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src="" alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="">比特币</a></p>
                        <p>非普遍全球可支付的电子加密货币</p>
                        <p>
                            <span>113人关注</span>
                            <span>132个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <a href="javascript:;" class="attention">关注</a>
                    </div>
                </div>
                <div class="tag-item clearfix">
                    <div class="tag-img">
                        <img src="" alt="">
                    </div>

                    <div class="tag-context">
                        <p><a href="">比特币</a></p>
                        <p>非普遍全球可支付的电子加密货币</p>
                        <p>
                            <span>113人关注</span>
                            <span>132个话题</span>
                        </p>
                    </div>

                    <div class="tag-att">
                        <a href="javascript:;" class="attention">关注</a>
                    </div>
                </div>
            </div>

            <div class="tab-footer">
                <ul id="pagination" class="pagination-sm"></ul>
            </div>
        </div>

        <div class="tag-main-r">
            <%- include('./public/topic', {
            title: '热门',
            data: [
            {id:1,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:20},
            {id:2,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:15},
            {id:3,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:56},
            {id:4,message:'原新东方名师名师，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:50},
            {id:5,message:'原新东方名，自称‘中国比特币首富’,著名天使投资人原新东方名师，自称‘中国比特币首富’!',ans_num:100}
            ]
            }) %>
        </div>
    </div>
</div>

<%- include('./public/footer', {
plugin: ['http://static.huoxing24.com/assets/swiper.jquery.min.js','http://static.huoxing24.com/assets/simplePagination.js'],
private: ['./js/tagList.js']
}) %>