<div class="forum-banner close">
    <div class="banner-close"><img src="./img/close.png" alt=""></div>
    <div class="banner-box">
        <div class="banner-img"><img src="./img/banner.jpg" alt=""></div>
        <div class="banner-logo-registration">
            <p class="logo">马上登录</p>
            <p class="registration">立即注册</p>
        </div>
    </div>
</div>
