<div class="forum-content clearfix">
    <div class="content-box">
        <div class="c-left">
            <div class="left-top">
                <ul id="leftTop">
                    <li class="active"><span><img src="./img/jd.png" alt=""></span>今日焦点</li>
                    <li><span><img src="./img/jd.png" alt=""></span>我的关注</li>
                    <li><span><img src="./img/jd.png" alt=""></span>最新内容</li>
                </ul>
            </div>
            <div class="left-bottom">
                <h5>社区板块</h5>
                <ul id="leftBottom">
                    <li><span><img src="./img/jd.png" alt=""></span>币圈打假</li>
                    <li><span><img src="./img/jd.png" alt=""></span>区块链</li>
                    <li><span><img src="./img/jd.png" alt=""></span>比特币</li>
                </ul>
            </div>
        </div>
        <div class="c-center">
            <div class="center-swiper">
                <div class="swiper-container swiper-c-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="http://www.huoxing24.com/"></a><img src="./img/swiper.jpg" alt=""><span>为何国内各大互联网公司纷纷研发区块链宠物? </span><p class="img-bg"></p>
                        </div>
                        <div class="swiper-slide"><a href="http://www.huoxing24.com/"></a><img src="./img/swiper.jpg" alt=""><span>为何国内各大互联网公司纷纷研发区块链宠物? </span><p class="img-bg"></p>
                        </div>
                        <div class="swiper-slide"><a href="http://www.huoxing24.com/"></a><img src="./img/swiper.jpg" alt=""><span>为何国内各大互联网公司纷纷研发区块链宠物? </span><p class="img-bg"></p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="content-center-box">
                <div class="list-tab" id="listTab">
                    <p class="active">最新<span class="active"></span></p>
                    <p>最热<span class=""></span></p>
                    <p>精华<span class=""></span></p>
                </div>
                <div class="list-box">
                    <div class="list">
                        <div class="introduce">
                            <p><a href="">首份区块链职场年龄图谱，85后成为行业主力军首份区块链职场年龄图谱，85后成为行业主力军年龄年龄</a><span>比特币</span><span>安全</span></p>
                            <div class="user-box">
                                <div class="portrait">
                                    <span class="portrait-img"><img src="./img/blue.png" alt=""></span>
                                    <span class="portrait-name">admin</span>
                                    <span class="time">2小时前</span>
                                    <span class="comment"><font>20</font>评论</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="introduce">
                            <p><a href="">首份区块链职场年龄图谱，85后成为行业主力军首份区块链职场年龄图谱，85后成为行业主力军年龄年龄</a><span>比特币</span><span>安全</span></p>
                            <div class="user-box">
                                <div class="portrait">
                                    <span class="portrait-img"><img src="./img/blue.png" alt=""></span>
                                    <span class="portrait-name">admin</span>
                                    <span class="time">2小时前</span>
                                    <span class="comment"><font>20</font>评论</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <div class="introduce">
                            <p><a href="">首份区块链职场年龄图谱，85后成为行业主力军首份区块链职场年龄图谱，85后成为行业主力军年龄年龄</a><span>比特币</span><span>安全</span></p>
                            <div class="user-box">
                                <div class="portrait">
                                    <span class="portrait-img"><img src="./img/blue.png" alt=""></span>
                                    <span class="portrait-name">admin</span>
                                    <span class="time">2小时前</span>
                                    <span class="comment"><font>20</font>评论</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more">点击加载更多</div>
            </div>
        </div>
        <div class="c-right">
            <div class="advertising">
                <a><img src="../img/blue.png" alt=""></a>
            </div>
            <div class="master">
                <div class="master-title">
                    <h5>大咖入驻</h5>
                    <a href="">查看更多</a>
                </div>
                <div class="master-box">
                    <div class="master-list">
                        <a href="">
                            <p class="portrait"><img src="./img/blue.png" alt=""><span class="active"></span></p>
                            <p class="name">薛蛮子</p>
                            <p class="issue">发布<span class="issue-num">1000</span>个话题，获得<span class="reply">5000</span>个回复</p>
                        </a>
                    </div>
                    <div class="master-list">
                        <a href="">
                            <p class="portrait"><img src="./img/blue.png" alt=""><span class="active"></span></p>
                            <p class="name">薛蛮子</p>
                            <p class="issue">发布<span class="issue-num">1000</span>个话题，获得<span class="reply">5000</span>个回复</p>
                        </a>
                    </div>
                    <div class="master-list">
                        <a href="">
                            <p class="portrait"><img src="./img/blue.png" alt=""><span class="active"></span></p>
                            <p class="name">薛蛮子</p>
                            <p class="issue">发布<span class="issue-num">1000</span>个话题，获得<span class="reply">5000</span>个回复</p>
                        </a>
                    </div>
                    <div class="master-list">
                        <a href="">
                            <p class="portrait"><img src="./img/blue.png" alt=""><span class="active"></span></p>
                            <p class="name">薛蛮子</p>
                            <p class="issue">发布<span class="issue-num">1000</span>个话题，获得<span class="reply">5000</span>个回复</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hot-tags">
                <div class="tags-title">
                    <h5>热门标签</h5>
                    <a href="">查看更多</a>
                </div>
                <ul>
                    <li>区块链</li>
                    <li>信任机制</li>
                    <li>Facebook</li>
                    <li>领袖峰会</li>
                    <li>领袖峰会</li>
                    <li>金融</li>
                    <li>信任机制</li>
                    <li>金融</li>
                    <li>金融</li>
                    <li>金融</li>
                    <li>金融</li>
                    <li>金融</li>
                    <li>金融</li>
                </ul>
            </div>
            <div class="attention">
                <div class="attention-title">
                    <h5>关注我们</h5>
                </div>
                <div class="attention-cont">
                    <p>
                        <img src="./img/wf_ewm.jpg" alt="">
                        <span>王峰十问</span>
                    </p>
                    <p>
                        <img src="./img/hx-ewm.jpg" alt="">
                        <span>王峰十问</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>