/**
 * Author：zhoushuanglong
 * Time：2018-04-08 15:45
 * Description：index
 */
@mixin tag-btn {
    display: inline-block;
    background: #ffeea3;
    color: #a71;
    width: auto;
    line-height: 22px;
    font-size: 12px;
    padding: 0 7px;
}

.createForum-section {
    width: 800px;
    height: auto;
    min-height: 800px;
    margin: 0 auto;
    padding-bottom: 200px;

    .edit-content {
        .title-input {
            height: 110px;
            width: 100%;
            text-align: center;
            font-size: 30px;
            border: none;
            outline: none;
        }

        .simditor {
            border: none;
        }

        .simditor-body {
            height: 380px;
            overflow: auto;
        }

        .label {
            color: #222;
            font-size: 14px;
            vertical-align: middle;
        }

        .label-item {
            display: inline-block;
            line-height: 36px;
            border: 1px solid #c0c0c0;
            position: relative;
            vertical-align: middle;
            text-indent: 1em;
        }

        .belong-content {
            font-size: 14px;
            position: relative;

            .belong-item {
                width: 150px;
                color: #bdbdbd;
                cursor: pointer;
                user-select: none;

                &:before {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border: 8px solid transparent;
                    border-top: 8px solid #303030;
                    right: 10px;
                    bottom: calc(50% - 12px);
                }
            }

            .belong-title-content {
                display: none;
            }

            &.active {
                .news-title-content {
                    display: block;
                }
            }
        }

        .tags-content {
            margin-top: 15px;

            .tags-item {
                width: 660px;

                .tags-input {
                    cursor: text;

                    .insert-input {
                        border: 0;
                        outline: none;
                        height: 100%;
                    }

                    .selected-btn {
                        @include tag-btn;

                        cursor: auto;
                        text-indent: 0;
                    }
                }
            }

            .label-btn-content {
                display: block;
                position: absolute;
                left: -1px;
                border: 1px solid #ddd;
                border-top: 0;
                width: 330px;
                padding: 15px 20px;
                text-indent: 0;
                line-height: normal;

                .label-btn-title {
                    color: #222;
                    font-size: 14px;

                    .desc {
                        color: #808080;
                    }
                }

                ul {
                    font-size: 12px;
                    margin: 7px 0 1px;

                    li {
                        @include tag-btn;

                        margin: 8px 3px 0;
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }

            &.active {
                .label-btn-content {
                    display: block;
                }
            }
        }
    }

    .create-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 66px;
        font-size: 14px;
        color: #666;
        background: #f6f6f6;

        .bottom-content {
            width: 800px;
            margin: 0 auto;

            .sync-huoxing {
                display: inline-block;
                user-select: none;

                input,
                span,
                i {
                    vertical-align: middle;
                }

                input {
                    margin-right: 2px;
                    outline: none;
                }
            }

            .bottom-right {
                display: inline-block;
                float: right;

                .options {
                    display: inline-block;

                    a {
                        color: #a71;
                    }
                }

                .submit-btn {
                    border-radius: 4px;
                    color: #000;
                    background: #ffd100;
                    padding: 10px 30px;
                    margin-left: 20px;
                }
            }
        }
    }
}
