<!-- public -->
<script src="http://static.huoxing24.com/assets/jquery-1.12.0.min.js"></script>

<!-- plugin -->
<% for (var i = 0 in plugin) { %>
<script src="<%= plugin[i] %>"></script>
<% } %>

<!-- private -->
<script src="./js/vendors.js"></script>
<% for (var i = 0 in private) { %>
<script src="<%= private[i] %>"></script>
<% } %>
<footer>
    <div class="shade"></div>
    <div class="forum-footer">
        <div class="f-left">
            <div class="f-logo"><img src="./img/f-logo.png" alt=""></div>
            <div class="f-collaborate clearfix">
                <span>广告合作</span><span>QQ：133000693</span><span>商务邮箱：bd@huoxing24.com</span></div>
            <div class="f-copyright">Copyright ©2018 Huoxing24 Ltd. All Rights Reserved.</div>
        </div>
        <div class="f-right">
            <div class="share clearfix">
                <a class="wx"><img src="./img/wx.png" alt=""></a>
                <a class="telegram" href=""><img src="./img/telegram.png" alt=""></a>
                <a class="sina" href=""><img src="./img/sina.png" alt=""></a>
            </div>
            <div class="about-clause"><a href="">关于我们</a><span></span><a href="">服务条款</a></div>
        </div>
    </div>
    <div class="login-con">
        <!--登录-->
        <div class="login-con-main login">
            <h1>登录</h1>
            <p class="login-error-msg"></p>
            <div class="login-item">
                <span><img src="./img/login-phone-number.png"/></span>
                <input class="phone-input" type="text" placeholder="请输入手机号码"/>
            </div>
            <div class="login-item">
                <span><img src="./img/login-password.png"/></span>
                <input class="password-input" type="password" placeholder="请输入密码"/>
            </div>
            <button class="login-btn">登录</button>
            <div class="login-tips clearfix">
                <p>没有账号？<a class="to-register">立即注册</a></p>
                <!--<a class="forget-password">忘记密码</a>-->
            </div>
        </div>
        <!--注册-->
        <div class="login-con-main register">
            <h1>注册</h1>
            <p class="error-msg"></p>
            <div class="login-item register-phone-num">
                <span><img src="./img/login-phone-number.png"/></span>
                <input type="text" placeholder="请输入手机号码"/>
            </div>
            <div class="login-item auth-code-item">
                <span><img src="./img/login-auth-code.png"/></span>
                <a class="getCode">获取验证码</a>
                <input type="text" placeholder="请输入手机验证码"/>
            </div>
            <div class="login-item register-pw">
                <span><img src="./img/login-password.png"/></span>
                <input type="password" placeholder="请输入密码"/>
            </div>
            <div class="login-item register-pw-confirm">
                <span><img src="./img/login-re-password.png"/></span>
                <input type="password" placeholder="请再次输入密码"/>
            </div>
            <button class="register-btn">注册</button>
            <div class="login-tips">
                <p>已有账号？<a class="to-login">立即登录</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- statistics -->
<div style="display: none">
    <script src="https://s19.cnzz.com/z_stat.php?id=1265446805&amp;web_id=1265446805" language="JavaScript"></script>
</div>

</body>
</html>
